@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    margin-top: 0em;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#95998A,#353631 100%) no-repeat;

    width: 100%;
    height: 100vh;

    overflow: hidden;
    
    font-family: 'PT Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header i {
    font-size: 2.8em;
    margin-bottom: 0.3em;
    margin-left: 0.1em;

    color: rgb(255, 255, 255);
    transform: rotate(25deg);

    text-shadow: 5px 5px 15px #030303;
}

header h2 {
    color: white;
    font-size: 3em;
    font-weight: 800;

    margin: 0;
    margin-bottom: 0.2em;

    text-shadow: 5px 5px 15px #030303;
}


.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border-radius: 0.5em;

    width: 100%;
    height: 100%;

    box-shadow: 8px 8px 15px rgb(32, 32, 32);
}

h1 {
    color: rgb(156, 15, 15);
    font-size: 5em;

    margin-top: 0.5em;
    margin-bottom: 0.2em;

    text-shadow: 1px 8px 15px rgb(236, 89, 89);

    text-align: center;
}

a {
    border-style: none;
    text-decoration: none;

    color: black;

    background-color: white;
    padding: 1em 2em;

    margin-bottom: 2em;
    border-radius: 2em;

    font-size: 1.5em;
    font-weight: 700;

    transition: 0.3s;
}

a:hover {
    filter: invert();
    transition: 0.2s;
}

.modal {
    visibility: hidden;

    position: fixed;

    width: 60%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#A9B6CC, rgb(63, 65, 58) 100%);

    border-radius: 1em;
}

.modal.active {

    visibility: visible;

}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#stars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 0em;

    font-size: 2em;
    color: gold;
}

#stars #middle {
    font-size: 1.7em;
    margin-bottom: 0.3em;
}

#count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 0em;
}

#count #points {
    margin-left: 0.2em;
}

#count h2 {
    font-size: 3em;
    font-weight: 800;
    color: white;

    margin: 0;
    margin-bottom: 0.2em;
}

hr {
    width: 50%;
    opacity: 0.2;

    margin-top: 1em;
    margin-bottom: 0em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    opacity: 0.5;
    transition: 0.3s;
}

footer:hover{
    opacity: 1;
    transition: 0.3s;
}

footer a{

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    margin-bottom: 0em;
    padding: 0;
    border-radius: 0.3em;

    margin-left: 0.2em;
}

footer img {
    width: 1.5em;

    border-radius: 0.3em;
}

/* Controls */

.controls {
    visibility: hidden;
    margin-top: -4em;
}

@media screen and (max-width:1023px){

    .modal {
        font-size: 0.8em;

        z-index: 10;
    }


    body {
        padding: 0;
        margin: 0;
    }

    header {
        font-size: 0.4em;
    }

    canvas{
        width: 85%;
    }

    footer {
        margin-top: 15em;
        font-size: 0.6em;

        margin-left: 24em;
    }
    
    .controls {
        position: absolute;
        bottom: 0;
        left: center;
        
    
        visibility: visible;

        background-color: rgba(255, 255, 255, 0.281);
        border-radius: 2em;

        font-size: 1.3em;
    }
    
    .controls .container {
        padding: 0.1em 0.1em;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: 3em;
    }

    .container #col1 #upIcon:hover {
        transition: 0.2s;
        opacity: 0.6;
    }
    .container #col2 #leftIcon:hover {
        transition: 0.2s;
        opacity: 0.6;
    }
    .container #col2 #rightIcon:hover {
        transition: 0.2s;
        opacity: 0.6;
    }

    .container #col3 #downIcon:hover {
        transition: 0.2s;
        opacity: 0.6;
    }
    
    .container #col1 #upIcon {
        transition: 0.1s;
        opacity: 0.5;
    }
    .container #col2 #leftIcon {
        transition: 0.1s;
        opacity: 0.5;
    }
    .container #col2 #rightIcon {
        transition: 0.1s;
        opacity: 0.5;
    }
    .container #col3 #downIcon {
        transition: 0.1s;
        opacity: 0.5;
    }


    .container #col1 {
        margin-bottom: -0.4em;
    }


    .container #col3 {
        margin-top: -0.4em;
    }

    .container #col2 :last-child{
        margin-left: 1em;
    }       
}


/* @media screen and (max-width:414px){

    body {
        padding: 0;
        margin: 0;
    }

    footer {
        margin-left: 25em;
    }

    .controls {
        bottom: 0em;
        left: 0em;
    }

    .modal {
        font-size: 0.8em;

        z-index: 10;
    }

}

@media screen and (max-width:411px){

    .controls {
        bottom: 0em;
        left: 0em;
    }

}

@media screen and (max-height:812px) and (max-width:375px){

    .controls {
        bottom: 3em;
        left: 0em;
    }

}

@media screen and (max-width:360px){

    .controls {
        bottom: 2.5em;
        left: 0em;
    }

}

@media screen and (max-width:320px){

    .controls {
        bottom: 2em;
        left: -1em;
    }

} */

